@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    font-size: 20px;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    background-color: #1f2937;
    font-family: 'Roboto';
    color: #fff;
}

h1 {
    color: #f9faf8;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 48px;
}



.nav-links {
    display: flex;
    justify-content: space-around;
    width: 65%;
    list-style: none;
}

#leftnright {
    display: flex;
    background-color: #8d99ae;
    gap: 20px;
}

.left {
    display: flex;
    background-color: #8d99ae;
    padding: 70px;
    flex-wrap: wrap;
    margin-left: 100px;

}

.right {
    display: flex;
    justify-content: center;
    padding: 40px;

}

#ice {
    height: 70%;
    width: 50%;
    border-radius: 5px;
    box-shadow: gray 0 0 13px;
    margin: 50px;

}

span {
    margin-left: 1400px;
    font-weight: 900;
}

#first {
    background-color: #3882f6;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    width: 60%;
    height: 20%;
}



h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 40px;

}




#bottom {
    display: inline;
    margin: auto;
}

.container2 {

    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #f9faf8;


}

.boxes {
    justify-content: center;
    padding: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}




.box {
    display: flex;
    flex-direction: row;
    color: black;
    background-color: #3882f6;
    width: 80px;
    height: 30px;
    padding: 60px;
    border-radius: 10px;
    border: black solid;
    justify-content: space-around;
    text-align: center;

}


.container3 {
    display: flex;
    padding: 100px 50px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container4 {
    display: flex;
    background-color: #f9faf8;
    justify-content: center;
    padding: 20px;
}



#flexbox {
    border-radius: 7px;
    background-color: #8d99ae;
    padding: 10px;
    margin: 40px;
    width: 50%;
    justify-content: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f9faf8;


}

.text {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#quote {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}

h3 {
    display: flex;
    color: #e5e7eb;
    font-size: 40px;
    text-align: left;
    justify-content: left;
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: #1f2937;
    font-family: 'Roboto';
    color: #fff;
}

#signup {
    padding: 20px;
    width: 20%;
    background-color: #3882f6;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    justify-content: center;
    text-align: center;

}

#text {
    padding: 20px;
    bottom: 0;
    left: 20;
}