@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    font-size: 20px;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    background-color: #1f2937;
    font-family: 'Roboto';
    color: #fff;
}

h1 {
    color: #f9faf8;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 48px;
}



.nav-links {
    display: flex;
    justify-content: space-around;
    width: 65%;
    list-style: none;
}

#leftnright {
    display: flex;
    background-color: #8d99ae;
    gap: 20px;
}

.left {
    display: flex;
    background-color: #8d99ae;
    padding: 100px;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 60px;

}

.right {
    display: flex;
    justify-content: center;
    padding: 40px;

}

#ice {
    height: 70%;
    width: 50%;
    border-radius: 5px;
    box-shadow: gray 0 0 13px;
    margin-top: 50px;

}

button#first {
    background-color: #3882f6;
    border-radius: 10px;
    color: #fff;
    padding: 10px 5px;
    margin-top: 50px;
    font-size: 15px;
    justify-content: center;
    text-align: center;
}

button {
    padding: 10px;
    margin-top: 50px;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    background-color: #3882f6;
    color: #fff
}

h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 40px;

}

p {
    margin: auto;
}

.container2 {

    display: flex;
    padding: 80px;
    background-color: #f9faf8;
    flex-direction: column;
}

.boxes {

    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}



.box {
    color: black;
    background-color: #3882f6;
    width: 150px;
    height: 150px;
    line-height: 75px;
    margin: 30px;
    border-radius: 10px;
    border: black solid;
    justify-content: center;
    text-align: center;
}

.container3 {
    display: flex;
    padding: 100px 50px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container4 {
    display: flex;
    background-color: #f9faf8;
    justify-content: center;
    padding: 20px;
}

h3 {
    color: #e5e7eb;
    margin: 20px;
    font-size: 38px;

}

#flexbox {
    border-radius: 7px;
    background-color: #8d99ae;
    display: flex;
    padding: 50px;
    margin: 40px;
    flex-wrap: wrap;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: #1f2937;
    font-family: 'Roboto';
    color: #fff;
}